@charset "UTF-8";
@font-face {
  font-family: "GT Eesti";
  src: url("https://airtable.com/font/GT-Eesti-Display-Regular-2.eot") format("eot"), url("https://airtable.com/font/GT-Eesti-Display-Regular-2.ttf") format("ttf"), url("https://airtable.com/font/GT-Eesti-Display-Regular-2.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "GT Eesti";
  src: url("https://airtable.com/font/GT-Eesti-Display-Medium-2.eot") format("eot"), url("https://airtable.com/font/GT-Eesti-Display-Medium-2.ttf") format("ttf"), url("https://airtable.com/font/GT-Eesti-Display-Medium-2.woff") format("woff");
  font-weight: 500;
}
:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "GT Eesti";
  color: #666666;
}

.app-container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 4.8rem 2.4rem;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .app-container {
    padding: 3.2rem 3.6rem;
  }
}

.label-uppercase {
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: calc(1.6rem * 0.08);
  margin-bottom: 1.6rem;
}

.label {
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.heading-1 {
  font-size: 6.4rem;
  color: #333333;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .heading-1 {
    font-size: 3.2rem;
    line-height: 1.25;
    margin-bottom: 2.4rem;
  }
}

.heading-2 {
  font-size: 3.2rem;
  color: #333333;
  font-weight: 500;
  line-height: 1.25;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .heading-2 {
    font-size: 2.4rem;
  }
}

.heading-3 {
  font-size: 2.4rem;
  color: #333333;
  font-weight: 500;
  line-height: 1.25;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .heading-3 {
    font-size: 2rem;
  }
}

.hero-content {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .hero-content {
    font-size: 2rem;
  }
}

.jobs-filter-container {
  margin: 3.2rem 0;
}

.jobs-hero-container {
  margin: 1.6rem 0;
  padding: 4.8rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .jobs-hero-container {
    padding: 3.2rem 0;
    grid-template-columns: 1fr;
  }
}
.jobs-hero-container .jobs-hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .jobs-hero-container .jobs-hero-image-container {
    margin-top: 4.8rem;
  }
}
.jobs-hero-container .jobs-hero-image-container img {
  max-width: 38rem;
}
.jobs-hero-container .jobs-hero-image-container .gif {
  display: none;
}
.jobs-hero-container .jobs-hero-image-container:hover .image {
  display: none;
}
.jobs-hero-container .jobs-hero-image-container:hover .gif {
  display: block;
}

.jobs-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1.6rem 0 3.2rem;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .jobs-filter-container {
    padding: 3.2rem 0 0;
  }
}
.jobs-filter-container :first-child {
  margin-right: 3.2rem;
}
.jobs-filter-container .select-container {
  width: 20rem;
}
.jobs-filter-container .select-container .select {
  position: relative;
}
.jobs-filter-container .select-container .select:before {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%) scaleY(0.6);
  color: #666666;
}
.jobs-filter-container .select-container select {
  font-family: "GT Eesti";
  color: #666666;
  width: 100%;
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
  padding: 0.8rem 0 0.8rem 1.6rem;
  border: 2px solid #cccccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .jobs-filter-container .select-container select {
    font-size: 1.6rem;
  }
}

.jobs-list-container {
  padding: 3.2rem 0;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .jobs-list-container {
    padding: 1.6rem 0;
  }
}
.jobs-list-container .department-list-container {
  padding: 3.2rem 0;
}
.jobs-list-container .department-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3.2rem;
}
.jobs-list-container .department-heading img {
  margin-right: 1.6rem;
}
.jobs-list-container .job-postings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6.4rem;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .jobs-list-container .job-postings-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3.6rem;
  }
}
.jobs-list-container .job-postings-grid a,
.jobs-list-container .job-postings-grid a:visited,
.jobs-list-container .job-postings-grid a:hover {
  color: inherit;
  text-decoration: inherit;
}

.job-post {
  position: relative;
  margin: 3.2rem 0;
  padding-top: 2.4rem;
}
@media (max-width: calc(83.2rem * 0.625)) {
  .job-post {
    margin: 1.6rem 0;
  }
}

.engineering {
  border-top: 2px solid #cccccc;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.engineering:before {
  transition: all 0.2s ease-in-out;
}
.engineering:hover {
  border-color: #18bfff;
  transition: all 0.2s ease-in-out;
}
.engineering:hover:before {
  position: absolute;
  content: "";
  top: 0;
  right: -2px;
  border: solid #18bfff;
  border-width: 0 2px 2px 0;
  border-radius: 0.1rem;
  padding: 3px;
  transform: rotate(-45deg) translateY(-95%) scale(1.5);
  transition: all 0.2s ease-in-out;
}

.customer-success {
  border-top: 2px solid #cccccc;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.customer-success:before {
  transition: all 0.2s ease-in-out;
}
.customer-success:hover {
  border-color: #2d7ff9;
  transition: all 0.2s ease-in-out;
}
.customer-success:hover:before {
  position: absolute;
  content: "";
  top: 0;
  right: -2px;
  border: solid #2d7ff9;
  border-width: 0 2px 2px 0;
  border-radius: 0.1rem;
  padding: 3px;
  transform: rotate(-45deg) translateY(-95%) scale(1.5);
  transition: all 0.2s ease-in-out;
}

.marketing {
  border-top: 2px solid #cccccc;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.marketing:before {
  transition: all 0.2s ease-in-out;
}
.marketing:hover {
  border-color: #f82b60;
  transition: all 0.2s ease-in-out;
}
.marketing:hover:before {
  position: absolute;
  content: "";
  top: 0;
  right: -2px;
  border: solid #f82b60;
  border-width: 0 2px 2px 0;
  border-radius: 0.1rem;
  padding: 3px;
  transform: rotate(-45deg) translateY(-95%) scale(1.5);
  transition: all 0.2s ease-in-out;
}

/*# sourceMappingURL=index.css.map */
