$white-main: #ffffff;
$white-smoke: #fafafa;
$grey-light: #cccccc;
$grey-medium: #666666;
$grey-dark: #333333;
$blue-lighter: #18bfff;
$blue-darker: #2d7ff9;
$red-main: #f82b60;

$font-weight-regular: 400;
$font-weight-medium: 500;
